/********************************************/
/* GLOBAL VARIABLES */
/********************************************/

:root {
  /*Background-Colors*/
  /* --main-background-bright: rgb(238, 238, 238); */

  /* --secondary-background-bright: rgb(255, 255, 255); */

  /*Text-Colors*/
  /* --main-text-color-dark: rgb(18, 41, 50);
  --main-text-color-bright: rgb(238, 238, 238);
  --secondary-

  /*Background-Colors*/
  /* --main-background-bright: rgb(250, 246, 240); */
  --main-background-bright: #dddddd;
  --main-background-dark: #122932;

  /*Text-Colors*/
  --main-text-color-dark: #122831;
  --main-text-color-medium: #224d5e;
  /* --main-text-color-bright: rgb(238, 238, 238); */
  --main-text-color-bright: rgb(221, 221, 221);

  /*Accent Color*/
  --main-accent-color: #e3c0d3;

  /*Shades*/
  /* --background-shade-one: #f0ebdf; */
  --background-shade-one: #d29651;
  /* --background-shade-two: #f0ebdf; */
  --background-shade-two: hsl(32, 59%, 75%);
  /* --background-shade-three: #918132; */
  --background-shade-three: hsl(32, 59%, 40%);
}

/********************************************/
/* GLOBAL RESET */
/********************************************/

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  --web
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: "Montserrat", sans-serif;
  color: var(--main-text-color-dark);
  background-color: var(--main-background-bright);

  overflow-x: hidden;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

li {
  list-style: none;
}

a:link,
a:visited {
  text-decoration: none;
  color: inherit;
}

p {
  width: clamp(45ch, 100%, 75ch);
  max-height: 100%;
  line-height: 2;
}

/********************************************/
/* GENERAL LAYOUT SETTINGS */
/********************************************/

/* section {
  height: clamp(100%, 100vh, 200rem);
} */

.section-main {
  padding: 8rem 2rem;
  width: 100vw;
  position: relative;

}

.container-section {
  padding: 0 3.2rem;
  margin: 0 12rem 4.8rem 12rem;
  max-width: 200rem;
  /* margin-bottom: 12rem; */
  position: relative;
}

.textbox {
  font-size: 1.8rem;


}

/*Buttons*/

.btn {
  border: none;
  padding: 1.6rem 1.2rem;

  color: var(--main-text-color-bright);
  background: var(--main-background-dark);

  font-size: 1.6rem;
  font-weight: 600;
  text-transform: uppercase;
}

.btn:hover {
  cursor: pointer;
}

/*Icons*/

.icon {
  display: block;
}

/********************************************/
/* HEADINGS */
/********************************************/

.heading-primary {
  /* font-family: "Abril Fatface", cursive; */
  font-family: "Min-sans";
  font-size: 10rem;
  font-weight: 400;

  line-height: 0.9;
}

.heading-primary--emphasized {
  position: relative;
  color: var(--main-text-color-medium);

  /* background-image: linear-gradient(
    to right,
    #eeeeee,
    #e3c0d3,
    #122932,
    #e3c0d3,
    #eeeeee
  );
  background-size: 400%;
  background-position: right;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */

  /* animation-name: gradientMove;
  animation-duration: 3s;
  animation-delay: 2s; */
  /* animation-iteration-count: infinite;
  animation-direction: alternate-reverse; */
}

.heading-primary--emphasized::after {
  content: "";
  position: absolute;
  bottom: 0;

  right: 0;

  margin: 0 auto;
  z-index: -1;

  width: 70%;
  height: 0.5rem;
  background-color: var(--main-accent-color);
}

.heading-secondary {
  font-family: "Min-sans";
  font-size: 5.2rem;
  font-weight: 600;
  width: clamp(5ch, 100%, 18ch);
  line-height: 1;

  color: var(--main-text-color-medium);

  margin-bottom: 4.8rem;
}

.subheading-secondary {
  font-size: 2rem;
  font-weight: 200;
  text-transform: uppercase;

  /* margin-bottom: 0.8rem; */
}

.heading-secondary--first {
  position: relative;
}

.heading-secondary--first::before {
  content: "";
  position: absolute;
  top: 0;
  left: -1rem;

  height: 100%;
  width: .4rem;

  transform: skew(0, -30deg);

  background-color: var(--main-accent-color);
}

.heading-secondary--emphasized {
  font-style: italic;
}

.heading-tertiary {
  font-size: 3rem;
  font-weight: 500;

  margin-bottom: .8rem;
}

.heading-quaternary {
  font-size: 2.4rem;
  font-weight: 500;
  margin-bottom: 2.4rem;
}

/********************************************/
/* HELPER CLASSES */
/********************************************/

.fixed {
  position: fixed;
  right: 0;
  top: 0;
}

.grid--2-cols {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  align-items: flex-end;

  row-gap: 12.8rem;
  column-gap: 2.4rem;
}

.grid--2-cols  p {
  width: auto;
}


