/********************************************/
/* GLOBAL VARIABLES */
/********************************************/

:root {
  /*Background-Colors*/
  --main-background-bright: #eee;
  --main-background-dark: #122932;

  /*Accent Color*/
  --main-accent-color: #e3c0d3;

  /*Text-Colors*/
  --main-text-color-dark: #122932;
  --main-text-color-bright: #eee;
  --secondary-text-color-bright: #c4c4c4;
}

/********************************************/
/* GLOBAL RESET */
/********************************************/

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: "Montserrat", sans-serif;
  color: var(--main-text-color-dark);
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

li {
  list-style: none;
}

a:link,
a:visited {
  text-decoration: none;
  color: inherit;
}

/********************************************/
/* GENERAL LAYOUT SETTINGS */
/********************************************/

section {
  min-height: 100vh;
}

.section-main {
  padding: 8rem 6.4rem;
  width: 60vw;
}

.textbox {
  font-size: 1.6rem;

  margin-bottom: 3.2rem;
}

/*Buttons*/

.btn {
  border: none;
}

.btn:hover {
  cursor: pointer;
}

/********************************************/
/* HEADINGS */
/********************************************/

.heading-primary {
  font-family: "Abril Fatface", cursive;
  font-size: 8.6rem;
  font-weight: 400;
  color: #eee;
  line-height: 1;

  margin-bottom: 2.4rem;
}

.subheading-primary {
  width: 75%;
  align-self: flex-end;

  /* font-family: "Montserrat", sans-serif; */
  font-size: 3rem;
  font-weight: 200;

  color: #c4c4c4;

  margin-bottom: 12.8rem;
}

.subheading-primary--emphasized {
  font-weight: 400;
  font-style: italic;
}

.heading-secondary {
  font-size: 5.2rem;
  width: 60vw;
  line-height: 1;

  margin-bottom: 3.2rem;
}

.heading-secondary--first {
  position: relative;
}

.heading-secondary--first::before {
  content: "";
  position: absolute;
  top: 0;
  left: -1rem;
  height: 100%;
  width: 0.4rem;
  background-color: #e3c0d3;
}

.heading-secondary--emphasized {
  font-style: italic;
}

.heading-tertiary {
  font-size: 3.6rem;
  font-weight: 600;

  margin-bottom: 0.4rem;
}

.heading-quaternary {
  font-size: 2.4rem;
  font-weight: 600;
  margin-bottom: 1.6rem;
}

/********************************************/
/* HELPER CLASSES */
/********************************************/

.fixed {
  position: fixed;
  right: 0;
  top: 0;
}
