/********************************************/
/* GLOBAL VARIABLES */
/********************************************/
/* 
:root {
  --main-background-bright: #dddddd;
  --main-background-dark: #122932;

  --main-text-color-dark: #122831;
  --main-text-color-medium: #224d5e;
  --main-text-color-bright: #dddddd;

  --main-accent-color: #e3c0d3;

  --background-shade-one: #d29651;

  --background-tint-one: #2a1e10;
  --background-shade-two: hsl(32, 59%, 75%);
  --background-shade-three: hsl(32, 59%, 40%);
} */

/* :root {
  --main-background-bright: #f8f7f7;
  --main-background-dark: #0d1b2a;

  --main-text-color-dark: #0d1b2a;
  --main-text-color-medium: #1b263b;
  --main-text-color-bright: #e0e1dd;

  --main-accent-color: #6a4177;

  --background-shade-one: #415a77;

  --background-tint-one: hsl(75, 6%, 87%);
} */

:root {
  --main-background-bright: #f8f7f7;
  --main-background-dark: #49475b;

  --main-text-color-dark: #14080e;
  --main-text-color-medium: #49475b;
  --main-text-color-bright: #e0e1dd;

  --main-accent-color: #e9eb9e;

  --background-shade-one: #799496;

  --background-tint-one: hsl(75, 6%, 87%);
}

/* :root {
  --main-background-bright: #f4f7f5;
  --main-background-dark: #12215e;

  --main-text-color-dark: #010305;
  --main-text-color-medium: #12215e;
  --main-text-color-bright: #f4f7f5;

  --main-accent-color: #cd8987;

  --background-shade-one: #cdd6dd;

  --background-tint-one: #cdaca1;
} */

/********************************************/
/* GLOBAL RESET */
/********************************************/

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

*:focus {
  outline: none;
  border: 2px solid var(--main-accent-color);
}

html,
body {
  height: 100%;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  position: relative;

  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: "Montserrat", sans-serif;
  color: var(--main-text-color-dark);
  background-color: var(--main-background-bright);

  overflow-x: hidden;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

li {
  list-style: none;
}

a:link,
a:visited {
  text-decoration: none;
  color: inherit;
}

p {
  width: clamp(45ch, 100%, 75ch);
  max-height: 100%;
  line-height: 2;
}

/********************************************/
/* GENERAL LAYOUT SETTINGS */
/********************************************/

html::-webkit-scrollbar {
  display: none;
}

.section-main {
  padding: 12.8rem 2rem;
  width: 100vw;
  position: relative;
}

.container-section {
  padding: 0 12.8rem;
  margin: 0 auto;
  max-width: 180rem;
  margin-bottom: 12rem;
  position: relative;
}

.textbox {
  font-size: 1.6rem;
  margin-bottom: 3.2rem;
}

/*Buttons*/

.btn {
  border: none;
  padding: 1.6rem 1.2rem;

  color: var(--main-text-color-bright);
  background: var(--main-background-dark);

  font-size: 1.6rem;
  font-weight: 600;
  text-transform: uppercase;

  transition: background-color 0.3s;
}

.btn:hover {
  cursor: pointer;
}

/* .btn:hover:not(.btn-arrow),
.btn:focus:not(.btn-arrow) {
  background-color: var(--main-text-color-medium);
} */

/*Icons*/

.icon {
  display: block;
}

/*Logo*/
.logo circle {
  stroke: var(--main-accent-color);
  fill: var(--main-background-bright);
}

.logo path {
  fill: var(--background-shade-one);
}

/********************************************/
/* HEADINGS */
/********************************************/

.heading-primary {
  /* font-family: "Abril Fatface", cursive; */
  font-family: "Min-sans";
  font-size: 10rem;
  font-weight: 400;

  line-height: 0.9;
}

.heading-primary--emphasized {
  position: relative;
  color: var(--main-text-color-medium);
}

.heading-primary--emphasized::after {
  content: "";
  position: absolute;
  bottom: 0;

  right: 0;

  margin: 0 auto;
  z-index: -1;

  width: 70%;
  height: 0.5rem;
  background-color: var(--main-accent-color);
}

.heading-secondary {
  position: relative;
  /* font-family: "Min-sans"; */
  font-family: "Montserrat", sans-serif;
  /* font-size: 5.2rem; */
  font-size: clamp(2.4rem, 3.8vw, 5.2rem);
  font-weight: 500;
  width: clamp(5ch, 100%, 18ch);
  line-height: 1;

  color: var(--main-text-color-medium);

  margin-bottom: 6.4rem;
}

.heading-secondary::after {
  position: absolute;
  top: -50%;

  text-transform: uppercase;
  font-size: 15rem;
  color: inherit;

  opacity: 0.05;

  z-index: -1;
}

.subheading-secondary {
  font-size: 2rem;
  font-weight: 200;
  text-transform: uppercase;
}

.heading-secondary--first {
  position: relative;
}

.heading-secondary--first::before {
  content: "";
  position: absolute;
  top: 0;
  left: -1rem;

  height: 100%;
  width: 0.4rem;

  transform: skew(0, -30deg);

  background-color: var(--main-accent-color);
}

.heading-secondary--emphasized {
  /* font-style: italic; */
}

.heading-tertiary {
  font-size: 3rem;
  font-weight: 500;

  margin-bottom: 0.8rem;
}

.heading-quaternary {
  font-size: 2.4rem;
  font-weight: 500;
  margin-bottom: 2.4rem;
}

/******************************************/
/* HEADER */
/******************************************/

.header {
  width: 100vw;
  z-index: 10;
}

/* .sticky .header {
  background-color: #eee;
  width: 100%;
  position: fixed;
  top: 0;

  box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.05);

  opacity: 0.95;
} */

.container-header {
  margin: 0 auto;
  padding: 2rem 3vw;

  background-color: transparent;

  display: flex;
  justify-content: space-between;
}

/* .sticky .container-header {
  padding: 0.4rem 3vw;
} */

/* .sticky .icon-logo {
  width: 4.4rem;
  height: 4.4rem;
} */

.logo:link,
.logo:visited {
  font-family: "Montserrat", cursive;
  font-size: 2rem;
  letter-spacing: 1px;
  line-height: 0.5;
  color: var(--background-shade-one);
}

.main-nav {
  display: flex;
  align-items: center;
}

.nav-el {
  padding: 1rem 1.2rem;
}

.nav-link:link,
.nav-link:visited {
  position: relative;
  font-size: 1.6rem;
}

.nav-link::after {
  content: "";

  position: absolute;
  bottom: -0.2rem;
  left: 0;

  width: 100%;
  height: 0.2rem;

  background-color: var(--main-accent-color);

  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.45s;
}

.nav-link:hover,
.nav-link:active,
.nav-link:focus {
  color: var(--main-text-color-medium);
  border: none;
}

.nav-link:hover::after,
.nav-link:active::after,
.nav-link:focus::after {
  transform: scaleX(1);
  transform-origin: left;
}

/******************************************/
/* SCROLL-NAVIGATION */
/******************************************/

.container-scroll-nav {
  position: fixed;
  top: 1.8rem;
  right: 0;
  bottom: 0;
  left: 0;

  width: calc(95vw - 6.2rem);
  max-width: 180rem;
  height: fit-content;
  margin: 0 auto;

  margin-right: calc(6.2rem + 2.5vw);

  z-index: 100;

  overflow-x: hidden;

  pointer-events: none;
}

.scrollnav-open .container-scroll-nav {
  pointer-events: auto;
}

.wrapper-scroll-nav {
  display: flex;
  align-items: center;
  height: 6.2rem;
  padding: 0 3.2rem;

  background-color: var(--main-text-color-dark);
  opacity: 0.9;

  transform: translateX(100%);
  transition: transform 0.65s ease;
}

.scrollnav-open .wrapper-scroll-nav {
  transform: translateX(0);
}

.icon-logo-scrollnav {
  /* height: 4rem; */
  width: 4rem;
}

.scroll-nav {
  margin-left: auto;
  display: flex;
  gap: 3.2rem;
  margin-right: 6.2rem;
}

.link-scroll-nav:link,
.link-scroll-nav:visited {
  font-size: 1.8rem;
  color: var(--main-text-color-bright);
}

.container-btn-scroll-nav {
  position: fixed;
  top: 1.8rem;
  right: 2.5vw;
  z-index: 200;

  opacity: 0.9;

  transform: translateX(200%);

  transition: transform 0.45s ease;
}

.sticky .container-btn-scroll-nav {
  transform: translateX(0);
}

.btn.btn-scroll-nav {
  position: relative;
  background-color: var(--main-text-color-dark);
  /* padding: 0.5rem; */

  height: 6.2rem;
  width: 6.2rem;
}

.icon-scrollnav {
  position: absolute;
  top: 0;
  left: 0;

  border: none;
  background: none;

  height: 6.2rem;
  width: 6.2rem;

  display: block;

  stroke: var(--main-background-bright);
  background-color: var(--main-text-color-dark);
}

.icon-scrollnav--open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;

  transition: opacity 0.65s ease;
}

.scrollnav-open .icon-scrollnav--open {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.icon-scrollnav--close {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transition: opacity 0.65s ease;
}

.scrollnav-open .icon-scrollnav--close {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

/******************************************/
/* FOOTER */
/******************************************/

.footer {
  position: relative;

  width: 100vw;
  padding: 6.4rem 3.2rem;

  display: flex;
  gap: 12.8rem;
  align-items: flex-start;

  color: var(--main-text-color-medium);

  background-color: var(--background-shade-one);
}
.footer .heading-secondary {
  display: inline-block;
  font-size: 3.6rem;
  color: var(--main-text-color-medium);
  margin-bottom: 0;
}

.footer-row {
  display: flex;
  flex-direction: column;

  gap: 3.6rem;
}

.container-social-footer {
  display: flex;
  gap: 1.2rem;
}

.container-copyright p {
  line-height: 1;
  margin-bottom: 1.2rem;
}

.icon-social {
  fill: var(--main-text-color-medium);
}

.nav-list--footer {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.nav-link--footer:focus {
  border: none;
}

.nav-link--footer:link,
.nav-link--footer:visited {
  font-size: 1.6rem;
  position: relative;
  color: inherit;
}

.nav-link--footer:hover,
.nav-link--footer:active,
.nav-link--footer:focus {
  color: var(--main-text-color-medium);
}

.nav-link--footer::after {
  content: "";

  position: absolute;
  bottom: 0;
  left: 0;

  height: 0.2rem;
  width: 100%;

  background-color: var(--main-text-color-medium);

  transform: scale(0);
  transform-origin: right;
  transition: transform 0.35s;
}

.nav-link--footer:hover::after,
.nav-link--footer:active::after,
.nav-link--footer:focus::after {
  transform: scale(1);
  transform-origin: left;
}

.el-footer {
  position: absolute;
  width: 10rem;
  height: 10rem;
  background-color: var(--main-text-color-medium);
}

.el-footer--circle {
  top: 2rem;
  right: 12%;

  border-radius: 100%;
}

.el-footer--square {
  bottom: 10rem;
  right: 25%;

  transform: rotate(30deg);
}

.el-footer--triangle {
  bottom: 10%;
  right: 15%;

  background-color: transparent;

  width: 10rem;
  height: 10rem;

  border-top: 0 solid transparent;
  border-left: 5rem solid transparent;
  border-right: 5rem solid transparent;
  border-bottom: 10rem solid var(--main-text-color-medium);

  transform: rotate(-28deg);
}

/********************************************/
/* HELPER CLASSES */
/********************************************/

.fixed {
  position: fixed;
  right: 0;
  top: 0;
}

.grid--2-cols {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  align-items: flex-end;

  row-gap: 12.8rem;
  column-gap: 2.4rem;
}

.grid--2-cols p {
  width: auto;
}

.loadin {
  opacity: 0;
  transform: translateY(45px);
  transition: transform 0.6s, opacity 1.3s;
}

.loaded {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0s;
}
