/******************************************/
/* SECTION HERO */
/******************************************/

.section-hero {
  width: 100vw;
  height: min(100vh, 80rem);
  position: relative;

  z-index: 2;
}

.sticky .section-hero {
  margin-top: 10rem;
}

.container-hero {
  max-width: 200rem;
  margin: 0 auto;

  padding: 13rem 13rem 4.8rem 13rem;
}

.container-heading {
  /* margin-top: 12rem; */
  margin-bottom: 14rem;
  width: 100%;
}

.heading-carousel {
  margin-top: 1.6rem;
  height: 6rem;
  color: var(--main-text-color-medium);
}

.el-carousel {
  display: block;
  position: absolute;
  transform: translateY(2rem);
  opacity: 0;

  transition: 1s;
}

.el-carousel:last-of-type::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;

  width: 60%;
  height: 0.4rem;

  background-color: var(--main-accent-color);

  z-index: -1;
}

.el-carousel.active {
  transform: translateY(0);
  opacity: 0.7;
  transition-delay: 0.35s;
}

.el-carousel.previous {
  transform: translateY(-2rem);
  opacity: 0;
}

.punctuation {
  color: var(--main-accent-color);
}

.overhang {
  position: absolute;
  z-index: -1;
}

.overhang-triangle-right {
  height: 30rem;
  width: 30rem;

  border: 20rem solid transparent;
  border-right: 30rem solid var(--background-shade-one);

  top: 25%;
  right: 0;
}

/******************************************/
/* SECTION PORTFOLIO */
/******************************************/

.section-portfolio {
  color: var(--main-text-color-dark);
  position: relative;
  z-index: 1;
}

.container-portfolio.grid--2-cols {
  align-items: center;

  justify-content: center;

  column-gap: 6.4rem;
  row-gap: 0;
}

.container-header--portfolio {
  grid-column: 2/3;
}

/*Container left (slide-images)*/

.container-portfolio--left {
  position: relative;
  justify-self: end;
}

.btn-arrow {
  background: none;
  position: absolute;
  top: 44%;

  width: 6.4rem;
  transition: opacity 1s, transform 0.45s;
}

.btn-arrow--left {
  left: 0;
}

.btn-arrow--right {
  right: 0;
}

.btn-arrow path {
  fill: var(--main-text-color-dark);
}

.btn-arrow:hover,
.btn-arrow:focus {
  transform: scale(1.2);
  filter: drop-shadow(0 8px 12px rgba(0, 0, 0, 0.2));
}

.btn-arrow:hover path,
.btn-arrow:focus path {
  fill: var(--main-text-color-medium);
}

.btn-inactive {
  opacity: 0.3;
  pointer-events: none;
}

.btn-arrow .icon {
  width: 6.4rem;
  height: 6.4rem;
}

.img-screen {
  position: relative;
  min-width: 60rem;
  max-width: 60rem;
}

.container-slide-img {
  position: absolute;
  top: 52px;
  left: 78px;

  width: 44.4rem;
  height: 27.8rem;

  overflow: hidden;
}

.slide-img {
  position: absolute;

  width: inherit;
  height: inherit;
  background-size: cover;
  background-position: top;

  pointer-events: none;
}

.slide-img.active {
  pointer-events: auto;
  transform: translateX(0);

  transition: background-position 12s, transform 1s ease;
}

.slide-img.to-left {
  transform: translateX(-100%);
  transition: transform 1s ease;
}

.slide-img.to-right {
  transform: translateX(100%);
}

.img-page {
  transform: translateY(0);
  transition: transform 5s;
  z-index: -1;
}

.wrapper-img-page:hover .img-page {
  transform: translateY(calc(-100% + 27.8rem));
  transition: transform 15s;
}

.slide-link {
  display: block;
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;

  z-index: 1;
}

.slide-link .icon {
  height: 2.4rem;
  width: 2.4rem;
}

/*Container right (slide-description)*/

.container-portfolio--right {
  height: fit-content;
}

.container-slide-description {
  position: relative;
}

.slide-description {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;

  display: none;

  transition: opacity 1s;
}

.slide-description.active {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;

  display: block;
}

.description-link:link,
.description-link:visited {
  position: relative;
  font-size: 1.8rem;
  font-weight: 600;
}

.description-link:hover,
.description-link:active,
.description-link:focus {
  color: var(--main-text-color-medium);
  border: none;
}

.description-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -0.4rem;

  width: 100%;
  height: 0.4rem;
  background-color: var(--main-accent-color);

  transform: scaleX(0);
  transform-origin: right;
  transition: transform 450ms;
}

.description-link:hover::after,
.description-link:focus::after {
  transform: scaleX(1);
  transform-origin: left;
}

.overhang-square--left {
  height: 50%;
  width: 35%;

  top: 15%;
  left: 0;

  background-color: var(--background-shade-one);
}

/******************************************/
/* SECTION ANGEBOT */
/******************************************/

.section-angebot {
  background-color: var(--main-background-bright);
  z-index: 1;
}

.icon-angebot {
  display: block;
  position: relative;
  width: 15rem;
  height: 15rem;
  fill: var(--main-text-color-medium);

  filter: drop-shadow(0 12px 8px rgba(0, 0, 0, 0.2));
}

.svg-angebot {
  position: relative;
  z-index: 1;
}

.svg-angebot--design::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;

  width: 150%;
  height: 150%;

  border-radius: 100%;

  background-color: var(--background-shade-one);
  z-index: -1;
}

.svg-angebot--support::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;

  width: 150%;
  height: 150%;

  transform-origin: center left;

  transform: rotate(-20deg);

  border-radius: 1.2rem;

  background-color: var(--background-shade-one);
  z-index: -1;
}

.svg-angebot--inhalt::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;

  width: 150%;
  height: 150%;

  border-top: 0 solid transparent;
  border-left: 112.5px solid transparent;
  border-right: 112.5px solid transparent;
  border-bottom: 22.5rem solid var(--background-shade-one);

  transform: rotate(10deg);
  transform-origin: bottom right;

  z-index: -1;
}

.section-angebot .grid--2-cols {
  margin-bottom: 15.6rem;
}

/******************************************/
/* SECTION SCHNEIDER */
/******************************************/

.overhang-circle--right {
  position: absolute;
  height: 35rem;
  width: 35rem;

  background-color: var(--background-shade-one);

  border-radius: 100%;

  top: -12.5%;
  right: -12.5%;
  z-index: 2;
}

.section-schneider {
  background-color: var(--main-background-dark);
  z-index: 1;
}

.section-schneider .subheading-secondary,
.section-schneider .heading-secondary {
  color: var(--main-text-color-bright);
}

.content-schneider {
  display: flex;
  align-items: flex-start;
  gap: 1.6rem;
  margin-bottom: 15.8rem;
}

.container-img {
  min-width: 35rem;
  max-width: 35rem;
  background-color: var(--background-shade-one);
}

.img-box-schneider {
  position: relative;

  transform: translate(15%, 20%) scale(1.1);
}

.img-box-schneider::before {
  content: "";
  position: absolute;
  top: 3;
  left: 0;

  height: 100%;
  width: 100%;

  background-color: var(--main-text-color-dark);
  opacity: 0.4;
}

.img-schneider {
  width: 100%;
}

.section-schneider .textbox {
  color: var(--main-text-color-bright);
  background-color: transparent;
  z-index: 1;
  backdrop-filter: blur(1);
}

.section-schneider .heading-tertiary {
  color: var(--main-text-color-bright);
  margin-bottom: 3.6rem;
}

.wrapper-cards {
  width: 80%;
  max-width: 120rem;
  margin: 0 auto;
}
.wrapper-cards .heading-tertiary {
  text-align: center;
}

.container-cards {
  display: flex;
  justify-content: center;
  gap: 2.4rem;
  z-index: 2;
}

.cards {
  position: relative;
  text-align: center;

  height: 38rem;
  background-color: var(--main-background-bright);

  border-radius: 12px;
  box-shadow: 0 12px 8px rgb(210, 150, 81, 0.2);
  padding: 4.8rem 1.6rem;

  width: calc(90% / 3);

  transition: all 350ms;

  overflow: hidden;
}

.cards:hover {
  transform: translateY(-1rem);
  box-shadow: 0 16px 12px rgb(210, 150, 81, 0.3);
}

.card-one::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;

  transform: translateX(-50%) translateY(50%);

  width: 10rem;
  height: 10rem;

  border-radius: 100%;

  background-color: var(--background-shade-one);
}

.card-two::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;

  transform: translateX(-50%) translateY(50%) rotate(-20deg);

  width: 10rem;
  height: 10rem;
  border-radius: 1.2rem;

  background-color: var(--background-shade-one);
}

.card-three::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;

  width: 10rem;
  height: 10rem;

  border-top: 0 solid transparent;
  border-left: 5rem solid transparent;
  border-right: 5rem solid transparent;
  border-bottom: 10rem solid var(--background-shade-one);

  transform: translateX(-50%) translateY(50%) rotate(190deg);
}

.heading-cards {
  font-size: 2.4rem;
  text-align: center;
  width: 100%;
  text-transform: uppercase;
  margin-bottom: 3.2rem;
}

.container-icon {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  margin-top: 1.6rem;
  margin-bottom: 0.8rem;
}

.text-cards {
  font-size: 1.8rem;
  width: 100%;
}

/******************************************/
/* SECTION KONTAKT */
/******************************************/

.section-contact {
  border-right: 12rem solid var(--background-shade-one);
}

.section-contact .heading-secondary {
  width: clamp(5ch, 100%, 20ch);
  line-height: 1.1;
}

.container-form {
  background-color: var(--main-background-bright);
  width: 50%;
}

.wrapper-contact {
  display: flex;
  align-items: center;
  position: relative;
}

.container-contact {
  position: absolute;
  top: 0;
  right: -55%;
  width: 100%;

  background-color: var(--main-background-dark);

  padding: 4.8rem;

  box-shadow: 0 1.2rem 1.2rem rgba(0, 0, 0, 0.208);

  z-index: 1;
}

.container-adress {
  line-height: 1.5;
}

.container-contact::after {
  content: "";
  position: absolute;
  top: -1rem;
  left: -1rem;

  height: 2.5rem;
  width: 2.5rem;

  background-color: var(--main-accent-color);
  z-index: -1;
}

.container-contact .heading-secondary,
.container-contact li {
  color: var(--main-text-color-bright);
}

.container-contact li {
  font-size: 1.8rem;
}

.list-contact {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

.contact-el {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.icon-contact {
  fill: #ddddddc7;
}

.form-list {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

.form-el {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.form-el label {
  font-size: 1.8rem;
}

.form-el input {
  height: 3.2rem;
  padding: 1.8rem 0.8rem;
}

.form-el textarea {
  resize: none;
  height: auto;
  padding: 0.8rem;
}

.form-el input,
.form-el textarea {
  position: relative;
  font-family: sans-serif;
  font-size: 1.8rem;

  background: hsl(0, 0%, 91%);
  border: none;
}

.form-el input:focus,
.form-el textarea:focus {
  outline: none;
}

.form-el:not(:last-of-type)::after {
  content: "";

  position: absolute;
  bottom: 0;
  left: 0;

  height: 0.3rem;
  width: 100%;

  background-color: var(--main-text-color-medium);

  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s;
}

.form-el:focus-within::after {
  transform: scaleX(1);
}

.btn-form {
  width: fit-content;
}
