.main {
  margin-top: 6rem;
  z-index: 2;
  position: relative;
}

/******************************************/
/* SECTION HERO */
/******************************************/

.arch {
  width: 100vw;
  z-index: 20;
}

.section-hero {
  position: relative;
  width: 100vw;

  z-index: 9;

  background-color: var(--main-background-dark);
}

.container-hero {
  display: grid;
  grid-template-columns: 1fr 2fr;
  row-gap: 12rem;
  column-gap: 5rem;

  padding-top: 8rem;
  padding-bottom: 16rem;
  padding-inline: 10rem;

  /* padding-block: clamp(3rem, 10vw, 12rem);
  padding-inline: 14.8rem; */

  /* padding: 12rem 14.8rem; */
  margin: 0 auto;
  max-width: 180rem;
}

.container-hero--right {
  align-self: center;
}

.container-heading {
  margin-bottom: 14rem;
  /* width: 100%; */
}

.heading-carousel {
  margin-top: 3rem;

  font-family: "Montserrat", sans-serif;

  font-weight: 200;
  font-size: clamp(2.4rem, 4vw, 8rem);
  letter-spacing: -3px;
  height: 6rem;
  color: #fff;
}

.el-carousel {
  display: block;
  position: absolute;
  transform: translateY(2rem);
  opacity: 0;

  transition: transform 1s, opacity 1s;
}

.el-carousel:last-of-type::after {
  content: "";
  position: absolute;
  bottom: 15%;
  right: 0;

  width: 60%;
  height: 0.2rem;

  background-color: var(--main-accent-color);

  z-index: -1;
}

.no-js .el-carousel:not(:last-of-type) {
  display: none;
}

.no-js .el-carousel:last-of-type {
  opacity: 0.75;
}

.el-carousel.active {
  transform: translateY(0);
  opacity: 0.75;
  transition-delay: 0.35s;
  background-clip: text;
}

.el-carousel.previous {
  transform: translateY(-2rem);
  opacity: 0;
}

.punctuation {
  color: var(--main-accent-color);
  margin-left: 8px;
}

.img-box--hero {
  position: relative;
  width: 100%;
}

.img-box--hero::after {
  content: "";
  background-image: url(../content/img/hero/basic-logo.svg);
  background-size: contain;
  background-repeat: no-repeat;
  z-index: -1;
  position: absolute;
  width: 180%;
  height: 180%;
  top: -45%;
  right: 0;
  bottom: 0;
  left: 7.25%;
}

.img-hero {
  width: 100%;
}

.row-btn {
  display: flex;
}

.btn-hero {
  box-shadow: none;
  display: grid;
  place-content: center;
}

.btn-hero:first-of-type {
  margin-right: 2.4rem;
}

.btn-hero:last-of-type {
  background-color: transparent;
  border: 2px var(--background-shade-one) solid;
}

.btn-hero:last-of-type .hover-layer-btn {
  background-color: var(--background-shade-one);
}

.btn-hero--icon {
  display: none;
  pointer-events: none;
  visibility: hidden;
}

/******************************************/
/* SECTION PORTFOLIO */
/******************************************/

.section-portfolio {
  z-index: 1;
  display: grid;
  place-items: center;
}

.section-portfolio .heading-secondary::after {
  content: "Portfolio";

  left: -50%;
}

.container-portfolio.grid--2-cols {
  align-items: start;

  justify-content: center;

  column-gap: 6.4rem;
  row-gap: 0;
}

.container-header--portfolio {
  grid-column: 2/3;
  justify-self: start;
}

/*Container left (slide-images)*/

.container-portfolio--left {
  position: relative;
  justify-self: end;
}

.container-btn-arrow {
  display: flex;
  justify-content: center;
  gap: 2.4rem;
}

.no-flexbox-gap .btn-arrow--left {
  margin-right: 2.4rem;
}

.btn-arrow {
  background: none;

  color: var(--main-text-color-medium);
  font-size: 4rem !important;
  padding: 0;

  border-radius: 12px;

  height: fit-content;
  width: fit-content;
  transition: opacity 1s, transform 0.45s;
}

.btn-arrow:focus-visible {
  border: 2px solid var(--main-accent-color);
}

.btn-inactive {
  opacity: 0.3;

  pointer-events: none;
}

.no-js .btn-arrow {
  opacity: 0.3;
  pointer-events: none;
}

.img-screen {
  position: relative;

  max-width: 60rem;

  display: grid;
  place-items: center;
}

.img-macbook {
  aspect-ratio: 1288 / 819;
}

.container-slide-img {
  position: absolute;
  top: 13.4%;
  left: 13%;
  width: 74%;
  height: 73.2%;
  aspect-ratio: 1288 / 819;
  background-color: #000;
  backface-visibility: hidden;
  overflow: hidden;
}

.slide-img {
  position: absolute;

  width: 100%;
  height: 100%;

  pointer-events: none;
}

.slide-img.active {
  pointer-events: auto;
  transform: translateX(0);

  transition: background-position 12s, transform 0.5s ease;
}

.slide-img.to-left {
  transform: translateX(-100%);
  transition: transform 0.5s ease;
}

.slide-img.to-right {
  transform: translateX(100%);
}

.img-page {
  height: 100%;
  width: 100%;
  transform: translateY(0);
  transition: background-position-y 5s;

  background-position-y: top;
}

.no-js .img-page--y7 {
  background-size: cover !important;
  background: url(../content/img/portfolio/page-screenshots/y7music/y7music4x.png);
}

.webp .img-page--y7 {
  background: url(../content/img/portfolio/page-screenshots/y7music/y7music4x.webp);
  background-size: cover;
}

.no-webp .img-page--y7 {
  background: url(../content/img/portfolio/page-screenshots/y7music/y7music4x.webp);
  background-size: cover;
}

.webp .img-page--marabu {
  background: url(../content/img/portfolio/page-screenshots/marabu/marabu4x.webp);
  background-size: cover;
  background-position: top;
}
.no-webp .img-page--marabu {
  background: url(../content/img/portfolio/page-screenshots/marabu/marabu4x.png);
  background-size: cover;
  background-position: top;
}

.webp .img-page--omnifood {
  background: url(../content/img/portfolio/page-screenshots/omnifood/omnifood4x.webp);
  background-size: cover;
}
.no-webp .webp .img-page--omnifood {
  background: url(../content/img/portfolio/page-screenshots/omnifood/omnifood4x.png);
  background-size: cover;
}

.webp .img-page--stepbystep {
  background: url(../content/img/portfolio/page-screenshots/stepbystep/stepbystep4x.webp);
  background-size: cover;
}
.no-webp .img-page--stepbystep {
  background: url(../content/img/portfolio/page-screenshots/stepbystep/stepbystep4x.png);
  background-size: cover;
}

.img-page:hover:not(.img-page--marabu) {
  background-position-y: bottom;
  transition: background-position-y 15s;
}

.no-js .img-page:hover {
  background-position-y: top;
}

.slide-link {
  display: block;
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;

  z-index: 1;
}

.slide-link .icon {
  height: 2.4rem;
  width: 2.4rem;
}

/*Container right (slide-description)*/

.container-portfolio--right {
  min-height: 40rem;
  padding-top: 2rem;
}

.container-slide-description {
  position: relative;
}

.slide-description {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;

  display: none;

  transition: opacity 1s;
}

.slide-description.active {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;

  display: block;
}

.description-link:link,
.description-link:visited {
  position: relative;
  font-size: 1.8rem;
  font-weight: 600;
}

.description-link:hover,
.description-link:active,
.description-link:focus {
  color: var(--main-text-color-medium);
  border: none;
}

.description-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -0.4rem;

  width: 100%;
  height: 0.4rem;
  background-color: var(--main-accent-color);

  transform: scaleX(0);
  transform-origin: right;
  transition: transform 450ms;
}

.description-link:hover::after,
.description-link:focus::after {
  transform: scaleX(1);
  transform-origin: left;
}

.overhang-square--left {
  height: 50%;
  width: 35vw;
  position: absolute;
  top: 15%;
  left: 0;

  background-color: var(--background-shade-one);
  z-index: -1;
}

/******************************************/
/* SECTION ANGEBOT */
/******************************************/

.section-angebot {
  background-color: var(--main-background-bright);
}

.section-angebot .heading-secondary::after {
  content: "Angebot";

  left: -15%;
}

.container-angebot.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}

.icon-angebot {
  display: block;
  position: relative;
  width: 15rem;
  height: 15rem;
  fill: var(--background-tint-one);

  filter: drop-shadow(0 12px 8px rgba(0, 0, 0, 0.2));
}

.svg-angebot {
  position: relative;
  z-index: 1;
}

.container-text--support {
  grid-column: 2/3;
}

.svg-angebot--support {
  grid-column: 1/2;
  grid-row: 2/3;
}

.icon-angebot--rocket.rocket-fly {
  animation: rocketFly 2.5s ease forwards;
}

@keyframes rocketFly {
  from {
    transform: translate(0, 0) rotate(0);
  }
  to {
    transform: translate(1000%, -1000%) rotate(-15deg);
  }
}

.svg-angebot--design::after {
  content: "";
  position: absolute;
  top: -25%;
  left: -20%;

  width: 150%;
  height: 150%;

  border-radius: 100%;

  background-color: var(--background-shade-one);
  z-index: -1;

  transform: translateX(50%);
}

.in-viewport.svg-angebot--design::after {
  animation: rollLeft 2s ease-in-out forwards;
}

.no-js .svg-angebot::after {
  transform: translateX(0);
}

@keyframes rollLeft {
  0% {
    transform: translateX(50%);
  }
  65% {
    transform: translateX(-0.5rem);
  }
  85% {
    transform: translateX(0.5rem);
  }

  100% {
    transform: translateX(0);
  }
}

.svg-angebot--support::after {
  content: "";
  position: absolute;
  bottom: 50%;
  right: 6.25%;

  width: 150%;
  height: 150%;

  background-color: var(--background-shade-one);
  z-index: -1;

  transform: rotate(10deg);
  transform-origin: bottom left;
}

.in-viewport.svg-angebot--support::after {
  animation: fallRight 3s ease-in-out forwards;
}

.no-js .svg-angebot--support::after {
  transform: rotate(45deg);
}

@keyframes fallRight {
  0% {
    transform: rotate(10deg);
  }

  50% {
    transform: rotate(45deg);
  }

  70% {
    transform: rotate(43deg);
  }

  85% {
    transform: rotate(45deg);
  }

  90% {
    transform: rotate(44.95deg);
  }

  100% {
    transform: rotate(45deg);
  }
}

.svg-angebot--inhalt::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: -55%;

  width: 150%;
  height: 150%;

  border-top: 0 solid transparent;
  border-left: 12.5rem solid transparent;
  border-right: 12.5rem solid transparent;
  border-bottom: 25rem solid var(--background-shade-one);

  transform: rotate(25deg);
  transform-origin: bottom right;

  z-index: -1;
}

.in-viewport.svg-angebot--inhalt::after {
  animation: fallLeft 2.5s ease-in forwards;
}

@keyframes fallLeft {
  0% {
    transform: rotate(25deg);
  }

  45% {
    transform: rotate(0);
  }
  67% {
    transform: rotate(1deg);
  }

  85% {
    transform: rotate(0);
  }

  90% {
    transform: rotate(0.2deg);
  }

  100% {
    transform: rotate(0);
  }
}

.section-angebot .grid--2-cols {
  place-items: center;
}

/******************************************/
/* SECTION SCHNEIDER */
/******************************************/

.overhang-circle--right {
  position: absolute;
  height: 25vw;
  width: 25vw;

  max-height: 40rem;
  max-width: 40rem;

  background-color: var(--background-shade-one);

  border-radius: 100%;

  top: -5%;
  right: -20rem;
}

.section-schneider {
  background-color: var(--main-background-dark);
}

.section-schneider .heading-secondary,
.section-schneider .textbox,
.section-schneider .heading-tertiary {
  color: var(--main-text-color-bright);
}

.section-schneider .heading-secondary::after {
  content: "Schneider";

  left: -15%;
}
.section-schneider .heading-secondary.loadin {
  opacity: 0;
  transform: translateX(45px);
  transition: transform 1.3s ease-out, opacity 1.3s;
}

.section-schneider .heading-secondary.loaded {
  opacity: 1;
  transform: translateX(0);
  transition-delay: 0.15s;
}

.content-schneider {
  display: flex;
  align-items: flex-start;
  gap: 8rem;
  margin-bottom: 15.8rem;
}

.container-img {
  background-color: var(--background-shade-one);
}

.no-flexbox-gap .container-img {
  margin-right: 8rem;
}

.img-box-schneider {
  position: relative;
  width: 42rem;
  /* aspect-ratio: 505/608; */

  transform: translate(0, 0) scale(1) rotate(0);
  transition: transform 1s linear;
}

.img-schneider {
  width: 100%;
}

.slide-schneider .img-box-schneider {
  transform: translate(10%, 8%) scale(1.1) rotate(1deg);
}

.no-js .img-box-schneider {
  transform: translate(10%, 8%) scale(1.1) rotate(1deg);
}

.text-schneider {
  margin-bottom: 3.2rem;
}

.wrapper-cards {
  max-width: 120rem;
  margin: 0 auto;
}
.wrapper-cards .heading-tertiary {
  text-align: center;
}

.container-cards {
  display: flex;
  justify-content: center;
  gap: 2.4rem;
  z-index: 2;
}

.no-flexbox-gap .cards:not(:last-child) {
  margin-right: 2.4rem;
}

.cards {
  position: relative;
  text-align: center;
  color: var(--main-text-color-bright);

  height: 38rem;
  max-width: 28rem;
  background-color: var(--background-shade-two);

  border-radius: 12px;
  box-shadow: 0 12px 8px #424052;
  padding: 4.8rem 1.6rem;

  width: calc(90% / 3);

  overflow: hidden;

  z-index: 1;
}

.card-two.loadin {
  transition-delay: 0.5s;
}

.card-three.loadin {
  transition-delay: 1s;
}

.cards::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;

  width: 10rem;
  height: 10rem;

  transition: transform 2s;

  z-index: -1;
}

.cards:hover::after {
  transform-origin: center;
  transition: transform 1s;
}

.card-one::after {
  transform: translate(-50%, 50%);

  border-radius: 100%;

  background-color: var(--background-shade-one);
}

.card-one:hover::after {
  transform: translate(-50%, 50%) scale(8.3);
}

.card-two::after {
  transform: translate(-50%, 50%) rotate(-20deg);

  border-radius: 1.2rem;

  background-color: var(--background-shade-one);
}

.card-two:hover::after {
  transform: translate(-50%, 50%) rotate(340deg) scale(8);
}

.card-three::after {
  border-top: 0 solid transparent;
  border-left: 5rem solid transparent;
  border-right: 5rem solid transparent;
  border-bottom: 10rem solid var(--background-shade-one);

  transform: translateX(-50%) translateY(50%) rotate(190deg);
}

.card-three:hover::after {
  transform: translate(-50%, 50%) rotate(-20deg) rotate(170deg) scale(8);
}

.heading-cards {
  font-size: 2.4rem;
  text-align: center;
  width: 100%;
  text-transform: uppercase;
  margin-bottom: 3.2rem;
}

.container-icon {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  margin-top: 1.6rem;
  margin-bottom: 0.8rem;
}

.text-cards {
  font-size: 1.8rem;
  width: 100%;
}

/******************************************/
/* SECTION KONTAKT */
/******************************************/

.section-contact {
  border-right: 12rem solid var(--background-shade-one);
}

.section-contact .heading-secondary::after {
  content: "Kontakt";

  left: -15%;
}

.section-contact .heading-tertiary {
  color: var(--main-text-color-bright);
  margin-bottom: 4.8rem;
}

.container-form {
  background-color: var(--main-background-bright);
  width: 75%;
}

.container-form.loadin {
  opacity: 0;
  transition: opacity 1.3s;
}

.container-form.loaded {
  opacity: 1;
  transition-delay: 0.15s;
}

.container-contact {
  display: flex;
  align-items: center;
  position: relative;
}

.container-adress {
  position: absolute;
  top: 50%;
  right: -75%;
  width: 95%;

  background-color: var(--main-background-dark);

  padding: 4.8rem;

  box-shadow: 0 1.2rem 1.2rem rgba(0, 0, 0, 0.208);

  z-index: 1;

  transform: translate(100%, -50%);
}

.slide-contact .container-adress {
  animation: slideContact 2s ease-out forwards;
}

.no-js .container-adress {
  transform: translate(0, -50%);
}

@keyframes slideContact {
  0% {
    transform: translate(100%, -50%);
  }

  80% {
    transform: translate(-2rem, -50%);
  }
  100% {
    transform: translate(0%, -50%);
  }
}

.adress {
  line-height: 1.5;
}

.container-adress::after {
  content: "";
  position: absolute;
  top: -1rem;
  left: -1rem;

  height: 2.5rem;
  width: 2.5rem;

  background-color: var(--main-accent-color);
  z-index: -1;
}

.container-adress .heading-secondary,
.container-adress li {
  color: var(--main-text-color-bright);
}

.container-adress li {
  font-size: 1.8rem;
}

.list-adress {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

.no-flexbox-gap .adress-el:not(:last-child) {
  margin-bottom: 3.2rem;
}

.adress-el {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.icon-adress {
  fill: #ddddddc7;
}

.no-flexbox-gap .icon-adress {
  margin-right: 1.2rem;
}

.form {
  position: relative;
  top: 0;
  left: 0;
  width: 75%;

  opacity: 1;
  transition: opacity 0.5s;
}

.form.hide {
  visibility: hidden;
  pointer-events: none;
  opacity: 0;
}

.form-answer {
  position: absolute;
  top: 0;
  left: 0;
  width: 75%;

  opacity: 1;
  transition: opacity 0.5s;
}

.form-answer.hide {
  visibility: hidden;
  pointer-events: none;
  opacity: 0;
}

.heading-tertiary.heading-form-answer {
  color: var(--main-text-color-dark);
}

.text-form-answer {
  font-size: 2rem;
}

.form-list {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}
.no-flexbox-gap .form-el:not(:last-child) {
  margin-bottom: 3.2rem;
}

.form-el {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.form-el label {
  font-size: 1.8rem;
}

.no-flexbox-gap .form-el label {
  margin-bottom: 0.4rem;
}

input::placeholder,
textarea::placeholder {
  opacity: 0.5;
  font-family: inherit;
  color: var(--main-background-dark);
}

.form-el input,
.form-el textarea {
  position: relative;

  font-size: 1.8rem;
  font-weight: 500;

  background: hsl(0, 0%, 95%);
  border: none;
}

.form-el input {
  /* height: 3.2rem; */
  font-family: inherit;
  color: var(--main-text-color-dark);
  padding: 1.6rem 0.8rem;
}

.form-el textarea {
  font-family: inherit;
  resize: none;
  height: auto;
  padding: 0.8rem;
}

.form-el input:focus,
.form-el textarea:focus {
  outline: none;
  background-color: hsl(184, 12%, 90%);
}

.form-el:not(:last-of-type)::after {
  content: "";

  position: absolute;
  bottom: 0;
  left: 0;

  height: 0.3rem;
  width: 100%;

  background-color: var(--main-text-color-medium);

  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s;
}

.form-el:focus-within::after {
  transform: scaleX(1);
}

#comments_or_notesA44 {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 0;
  width: 0;
  z-index: -1;
  margin-top: -3.2rem;
  padding: 0;
}

#comments_or_notesA44 + label {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 0;
  width: 0;
  z-index: -1;
  margin-top: -3.2rem;
  padding: 0;
}

.form-el .text-btn {
  color: #fff;
}

iframe {
  display: none;
}
/******************************************/
/* SECTION COOKIES */
/******************************************/

.container-cookies {
  position: fixed;

  bottom: 0;
  right: 0;

  display: grid;
  grid-template-columns: 6rem 1fr 15rem;
  column-gap: 2.4rem;

  justify-items: center;
  z-index: 300;
  opacity: 0.95;

  width: 100vw;

  height: auto;
  padding: 2.4rem;
  background-color: var(--main-text-color-dark);
  color: var(--main-text-color-bright);

  transform: translateY(100%);
  transition: 0.65s ease;
}

.container-cookies.show-cookies {
  transform: translateY(0);
}

.icon-cookies {
  width: 3.6rem;
  height: 3.6rem;
  fill: var(--main-text-color-bright);
}

.textbox--cookies {
  font-size: 1.4rem;
  margin-bottom: 0;
}

.link-cookies {
  text-decoration: solid;
  text-decoration-color: #fff;
  font-weight: 600;
  color: #fff;
}

.btn--cookies {
  background-color: var(--main-background-bright);
  color: var(--main-text-color-dark);
  font-size: 1.4rem;
  height: fit-content;
  align-self: flex-end;
}
