/********************************************/
/* Medium sized screen 1360px */
/********************************************/

@media (max-width: 85em) {
  .container-section {
    padding: 0 8rem;
  }

  .img-screen {
    width: 50rem;
  }

  .container-slide-img {
    top: 4.2rem;
    left: 6.5rem;
    width: 37rem;
    height: 23.2rem;
  }

  .wrapper-cards {
    width: 95%;
  }

  .container-footer {
    gap: 4.8rem;
  }
}

/********************************************/
/* Medium-small sized screen / Landscape tablet 1200px */
/********************************************/

@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }

  .img-box--hero {
    width: 35rem;
  }
  .section-main {
    padding: 9.6rem 0rem;
  }

  .container-section {
    padding: 0 4.8rem;
  }

  .container-copyright .textbox {
    font-size: 1.4rem;
  }

  .overhang-circle--right {
    height: 25rem;
    width: 25rem;
  }

  .form {
    width: 50%;
  }

  .container-contact {
    right: -50%;
  }
}

/********************************************/
/* Small sized screen / Landscape small tablet 976px */
/********************************************/

@media (max-width: 61em) {
  /* .section-main {
    padding: 8rem 0rem;
  } */

  .heading-primary {
    letter-spacing: -2px;
  }

  .heading-secondary {
    letter-spacing: 0;
  }

  .container-section {
    padding: 0 3.2rem;
  }

  /* .section-hero {
    height: fit-content;
  } */

  .container-hero {
    padding: 8rem 4.8rem;
  }

  .img-box--hero {
    width: clamp(10rem, 32vw, 100rem);
  }

  .container-portfolio .heading-secondary::after {
    left: -15%;
  }

  .container-portfolio.grid--2-cols {
    grid-template-rows: 1fr;
  }

  .container-header--portfolio {
    grid-column: 1;
    justify-self: start;
  }

  .container-portfolio--left {
    justify-self: left;
  }

  .img-screen {
    width: 65rem;
  }
  .container-slide-img {
    top: 5.5rem;
    left: 8.5rem;
    width: 48.1rem;
    height: 30.2rem;
  }

  .overhang-square--left {
    height: 38%;
  }

  .wrapper-contact {
    flex-direction: column;
    gap: 8rem;
    align-items: flex-start;
  }

  .form {
    width: 100%;
  }

  .container-contact {
    position: relative;
    right: -50vw;
    margin-top: 8rem;
    width: 50vw;
    transform: translate(100%, 0);
  }

  .el-footer {
    height: 7.5rem;
    width: 7.5rem;
  }
}

/********************************************/
/* Small sized screen / Landscape small tablet 864px */
/********************************************/

@media (max-width: 54em) {
  .container-scroll-nav {
    top: 0;
    left: 50vw;
    right: 0;

    width: 50vw;
    height: 100vh;
    margin: 0;
    margin-right: 0;
  }

  .wrapper-scroll-nav {
    height: 100vh;
    opacity: 1;

    flex-direction: column;
    align-items: flex-start;
    gap: 4.8rem;

    padding: 3.2rem;
  }

  .scroll-nav {
    flex-direction: column;

    margin-left: 2.4rem;
  }

  .container-section {
    padding: 0 2.4rem;
  }

  .section-main {
    padding: 8rem 0 4.8rem 0;
  }

  .content-schneider {
    flex-direction: column;
  }

  .img-box-schneider {
    width: 30rem;
  }

  .wrapper-cards {
    width: 100%;
  }

  .heading-cards {
    font-size: 2rem;
  }

  .text-cards {
    font-size: 1.6rem;
  }

  .section-contact {
    border-right: 6rem solid var(--background-shade-one);
  }

  .container-form {
    width: 95%;
  }

  .container-contact {
    width: 200%;
  }
}

/********************************************/
/* Tablets 752px */
/********************************************/

@media (max-width: 47em) {
  .heading-primary {
    letter-spacing: -1px;
  }

  .icon-angebot {
    width: 10rem;
    height: 10rem;
  }

  .svg-angebot {
    margin-top: 4.8rem;
    margin-left: 3rem;
    justify-self: baseline;
  }

  .svg-angebot--inhalt::after {
    /* height: 15rem;
    width: 15rem; */
    border-top: 0 solid transparent;
    border-left: 8rem solid transparent;
    border-right: 8rem solid transparent;
    border-bottom: 16rem solid var(--background-shade-one);
  }

  .svg-angebot--support::after {
    left: 6.25%;

    transform: rotate(-55deg);
    transform-origin: bottom right;
  }

  @keyframes fallRight {
    0% {
      transform: rotate(-55deg);
    }

    50% {
      transform: rotate(-45deg);
    }

    70% {
      transform: rotate(43deg);
    }

    85% {
      transform: rotate(45deg);
    }

    90% {
      transform: rotate(44.95deg);
    }

    100% {
      transform: rotate(45deg);
    }
  }

  .container-angebot.grid--2-cols {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 6.4rem;
  }

  .svg-angebot--design {
    grid-row: 1/2;
  }

  .svg-angebot--support {
    grid-row: 3/4;
  }

  .svg-angebot--inhalt {
    grid-row: 5/6;
  }

  .container-text--support {
    grid-column: 1;
  }
} ;
