/********************************************/
/* Medium sized screen 1360px */
/********************************************/

@media (max-width: 85em) {
  .container-section {
    padding: 0 8rem;
  }

  .container-hero--right {
    justify-self: last baseline;
  }

  .img-screen {
    width: 50rem;
  }

  .container-slide-img {
    top: 4.2rem;
    left: 6.5rem;
    width: 37rem;
    height: 23.2rem;
  }

  .wrapper-cards {
    width: 95%;
  }

  .container-footer {
    gap: 4.8rem;
  }
}

/********************************************/
/* Medium-small sized screen / Landscape tablet 1200px */
/********************************************/

@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }

  .img-box--hero {
    width: clamp(10rem, 33vw, 100rem);
  }
  .section-main {
    padding: 9.6rem 0rem;
  }

  .container-section {
    padding: 0 4.8rem;
  }

  .container-copyright .textbox {
    font-size: 1.4rem;
  }

  .overhang-circle--right {
    height: 25rem;
    width: 25rem;
  }

  .form {
    width: 50%;
  }

  .container-contact {
    right: -50%;
  }

  .heading-footer {
    font-size: 3rem;
  }
}

/********************************************/
/* Small sized screen / Landscape small tablet 976px */
/********************************************/

@media (max-width: 61em) {
  /* .section-main {
    padding: 8rem 0rem;
  } */

  .heading-primary {
    letter-spacing: -2px;
  }

  .heading-secondary {
    letter-spacing: 0;
  }

  .container-section {
    padding: 0 3.2rem;
  }

  /* .section-hero {
    height: fit-content;
  } */

  .container-hero {
    padding: 8rem 4.8rem;
  }

  .container-portfolio .heading-secondary::after {
    left: -15%;
  }

  .container-portfolio.grid--2-cols {
    grid-template-rows: 1fr;
  }

  .container-header--portfolio {
    grid-column: 1;
    justify-self: start;
  }

  .container-portfolio--left {
    justify-self: center;
  }

  .container-portfolio--right {
    height: 21rem;
    margin-bottom: 12.8rem;
  }

  .img-screen {
    width: 65rem;
  }
  .container-slide-img {
    top: 5.5rem;
    left: 8.5rem;
    width: 48.1rem;
    height: 30.2rem;
  }

  .overhang-square--left {
    top: 25%;
    height: 25%;
  }

  .wrapper-contact {
    flex-direction: column;
    gap: 8rem;
    align-items: flex-start;
  }

  .form {
    width: 100%;
  }

  .container-contact {
    position: relative;
    right: -50vw;
    margin-top: 8rem;
    width: 50vw;
    transform: translate(100%, 0);
  }

  .container-footer {
    padding: 4.8rem 1.6rem;
  }

  .section-main.section-contact {
    padding-bottom: 0;
  }

  .el-footer {
    height: 7.5rem;
    width: 7.5rem;
  }
}

/********************************************/
/* Small sized screen / Landscape small tablet 864px */
/********************************************/

@media (max-width: 54em) {
  .container-scroll-nav {
    top: 0;
    left: 50vw;
    right: 0;

    width: 50vw;
    height: 100vh;
    margin: 0;
    margin-right: 0;
  }

  .wrapper-scroll-nav {
    height: 100vh;
    opacity: 1;

    flex-direction: column;
    align-items: flex-start;
    gap: 4.8rem;

    padding: 3.2rem;
  }

  .scroll-nav {
    flex-direction: column;

    margin-top: 8rem;
    margin-left: 2.4rem;
  }

  .container-section {
    padding: 0 2.4rem;
  }

  .section-main {
    padding: 8rem 0 4.8rem 0;
  }

  .content-schneider {
    flex-direction: column;
  }

  .img-box-schneider {
    width: 30rem;
  }

  .wrapper-cards {
    width: 100%;
  }

  .heading-cards {
    font-size: 2rem;
  }

  .text-cards {
    font-size: 1.6rem;
  }

  .section-contact {
    border-right: 6rem solid var(--background-shade-one);
  }

  .container-form {
    width: 95%;
  }

  .container-contact {
    width: 200%;
  }

  .container-footer {
    grid-template-columns: repeat(1, 1fr);
  }

  .footer-row--left {
    gap: 2.4rem;
  }

  .heading-footer {
    font-size: 2.4rem;
  }

  .el-footer--circle {
    top: 10rem;
    right: 20rem;
  }

  .el-footer--square {
    right: 35rem;
  }
}

/********************************************/
/* Tablets 752px */
/********************************************/

@media (max-width: 47em) {
  .section-hero {
    margin-bottom: 12.8rem;
    display: block;
  }

  .container-hero {
    padding: 2.4rem;
  }

  .container-hero--left {
    grid-column: 1/3;
  }

  .container-hero--right {
    grid-column: 2/3;
    justify-self: first baseline;
  }

  .container-hero--right {
    display: flex;
    justify-content: end;
  }

  .btn-hero {
    grid-row: 2/3;
    height: fit-content;
    align-self: center;
  }

  .container-heading {
    margin-bottom: 8rem;
  }

  .heading-primary {
    font-size: clamp(3.2rem, 13vw, 10rem);
  }

  .heading-carousel {
    margin-top: 3.2rem;
    font-size: clamp(2.4rem, 10vw, 8rem);
  }

  .main-nav {
    display: none;
    pointer-events: none;
    visibility: hidden;
  }

  .container-btn-scroll-nav {
    transform: translateX(0);
  }

  .heading-primary {
    letter-spacing: -1px;
  }

  .section-hero {
    height: min(100vh, 90rem);
  }

  .icon-angebot {
    width: 10rem;
    height: 10rem;
  }

  .svg-angebot.loadin {
    opacity: 0;

    transition: opacity 1.3s;
  }

  .svg-angebot.loaded {
    opacity: 1;

    transition-delay: 0.15s;
  }

  .svg-angebot {
    margin-top: 4.8rem;
    margin-left: 3rem;
    justify-self: baseline;
  }

  .svg-angebot--inhalt::after {
    /* height: 15rem;
    width: 15rem; */
    border-top: 0 solid transparent;
    border-left: 8rem solid transparent;
    border-right: 8rem solid transparent;
    border-bottom: 16rem solid var(--background-shade-one);
  }

  .svg-angebot--support::after {
    left: 6.25%;
    width: 120%;
    height: 120%;
    left: 15%;

    transform: rotate(-20deg);
    transform-origin: bottom right;
  }

  @keyframes fallRight {
    0% {
      transform: rotate(-20deg);
    }

    50% {
      transform: rotate(-45deg);
    }

    70% {
      transform: rotate(-43deg);
    }

    85% {
      transform: rotate(-45deg);
    }

    90% {
      transform: rotate(-44.95deg);
    }

    100% {
      transform: rotate(-45deg);
    }
  }

  .container-angebot.grid--2-cols {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 4.8rem;
  }

  .svg-angebot--design {
    grid-row: 1/2;
  }

  .svg-angebot--support {
    grid-row: 3/4;
  }

  .svg-angebot--inhalt {
    grid-row: 5/6;
  }

  .container-text--support {
    grid-column: 1;
  }

  .wrapper-cards {
    margin: 0;
    max-width: none;
  }

  .container-cards {
    gap: none;
    justify-content: space-around;
  }

  .wrapper-contact {
    gap: 0;
  }

  .form-el label,
  .form-el input,
  .form-el textarea {
    font-size: 1.6rem;
  }

  .container-footer {
    padding-bottom: 1.2rem;
  }
}

/********************************************/
/* Smaller Tablets 688px */
/********************************************/

@media (max-width: 43em) {
  .btn {
    font-size: 1.4rem;
  }

  .content-schneider {
    margin-bottom: 8rem;
  }
  .container-cards {
    flex-direction: column;
    align-items: center;
    gap: 4.8rem;
  }

  .cards {
    width: 70%;
    max-width: 100%;
    height: 26rem;
    padding: 1.6rem 1.6rem 6.4rem 1.6rem;
  }

  .cards.loadin {
    opacity: 0;
    transform: translateX(-45px);
    transition: transform 1.3s ease-out, opacity 1.3s;
  }

  .cards.loaded {
    opacity: 1;
    transform: translateY(0);
    transition-delay: 0.15s;
  }

  .card-three:hover::after {
    transform: translate(-50%, 50%) rotate(-20deg) rotate(190deg) scale(12);
  }

  .container-contact {
    right: -30vw;
  }
}
