/********************************************/
/* Medium sized screen 1360px */
/********************************************/

@media (max-width: 85em) {
  .container-section {
    padding: 20rem 8rem;
  }

  .container-hero--right {
    justify-self: last baseline;
  }

  .container-footer {
    gap: 4.8rem;
  }
}

/********************************************/
/* Medium-small sized screen / Landscape tablet 1200px */
/********************************************/

@media (max-width: 75em) {
  .container-section {
    padding: 16rem 2.4rem;
  }

  .section-hero {
    padding: 25rem 4.8rem;
  }

  .wrapper-scroll-nav {
    padding: 0 1.2rem;
  }

  .container-copyright .textbox {
    font-size: 1.4rem;
  }

  .overhang-circle--right {
    height: 25rem;
    width: 25rem;
  }

  .form {
    width: 80%;
  }

  .container-adress {
    right: -70%;
  }

  .heading-footer {
    font-size: 3rem;
  }
}

/********************************************/
/* Small sized screen / Landscape small tablet 976px */
/********************************************/

@media (max-width: 61em) {
  .heading-primary {
    letter-spacing: -2px;
  }

  .heading-secondary {
    letter-spacing: 0;
  }

  .container-section {
    padding: 16rem 3.2rem;
  }

  .container-scroll-nav {
    top: 0;
    left: 50vw;
    right: 0;

    width: 50vw;
    height: 100vh;
    margin: 0;
    margin-right: 0;
  }

  .wrapper-scroll-nav {
    height: 100vh;
    opacity: 1;

    flex-direction: column;
    align-items: flex-start;
    gap: 4.8rem;

    padding: 3.2rem;
  }

  .scroll-nav {
    flex-direction: column;
    /* background-color: red; */
    min-height: 55%;
    justify-content: center;
    gap: 3.2rem;
    margin-left: 2.4rem;
  }

  .no-flexbox-gap .scroll-nav > *:not(:last-child) {
    margin-bottom: 3.2rem;
  }

  .container-portfolio .heading-secondary::after {
    left: -15%;
  }

  .container-portfolio.grid--2-cols {
    grid-template-rows: 1fr;
  }

  .container-header--portfolio {
    grid-column: 1;
    justify-self: start;
  }

  .container-portfolio--left {
    justify-self: center;
  }

  .container-portfolio--right {
    min-height: 30rem;
  }

  .overhang-square--left {
    top: 30rem;
    height: 35rem;
  }

  .container-contact {
    flex-direction: column;
    gap: 8rem;
    align-items: flex-start;
  }

  .no-flexbox-gap .container-form {
    margin-bottom: 8rem;
  }

  .form {
    width: 100%;
  }

  .container-adress {
    position: relative;
    right: -40vw;
    margin-top: 8rem;
    width: 100vw;
    transform: translate(100%, 0);
  }

  .container-footer {
    padding: 4.8rem 1.6rem;
  }

  .logo-footer .logo-title {
    font-size: 1.8rem;
  }

  .logo-footer .icon-logo {
    height: 4.4rem;
    width: 4.4rem;
  }

  .section-main.section-contact {
    padding-bottom: 0;
  }

  .el-footer {
    height: 7.5rem;
    width: 7.5rem;
  }
}

/********************************************/
/* Tablets 864px */
/********************************************/

@media (max-width: 54em) {
  .nav-el {
    padding: 1rem 0.8rem;
  }

  .main-nav {
    display: none;
    pointer-events: none;
    visibility: hidden;
  }

  .container-btn-scroll-nav {
    transform: translateX(0);
  }

  .container-section {
    padding: 12.8rem 2.4rem;
  }

  .content-schneider {
    flex-direction: column;
  }

  .no-flexbox-gap .container-img {
    margin-right: 0;
    margin-bottom: 8rem;
  }

  .img-box-schneider {
    width: clamp(8rem, 75vw, 40rem);
  }

  .wrapper-cards {
    width: 100%;
  }

  .container-cards {
    gap: 1.8rem;
  }

  .no-flexbox-gap .cards:not(:last-child) {
    margin-right: 1.8rem;
  }

  .heading-cards {
    font-size: 2rem;
  }

  .text-cards {
    font-size: 1.6rem;
  }

  .section-contact {
    border-right: 6rem solid var(--background-shade-one);
  }

  .container-form {
    width: 100%;
  }

  .container-adress {
    width: 200%;
  }

  .container-footer {
    grid-template-columns: repeat(1, 1fr);
    padding-bottom: 0;
  }

  .footer-row--left {
    gap: 2.4rem;
    grid-row: 2/3;
    margin-top: 8rem;
  }

  .no-flexbox-gap .footer-row--left > *:not(:last-child) {
    margin-bottom: 2.4rem;
  }

  .heading-footer {
    font-size: 2.4rem;
  }

  .el-footer--circle {
    top: 4rem;
    right: 18rem;
  }

  .el-footer--square {
    top: 12rem;
    right: 30rem;
  }

  .el-footer--triangle {
    top: 15rem;
  }
}

/********************************************/
/* Smaller Tablets / Big Landscape Phone 752px */
/********************************************/

@media (max-width: 47em) {
  .container-hero--left {
    grid-column: 1/3;
  }

  .container-hero--right {
    grid-column: 2/3;
    justify-self: first baseline;
  }

  /* .container-hero--right {
    display: flex;
    justify-content: end;
  } */

  .btn-hero {
    grid-row: 2/3;
    height: fit-content;
    align-self: center;
  }

  .container-heading {
    margin-bottom: 8rem;
  }

  .heading-primary {
    font-size: clamp(3em, 12.8vw, 10rem);
    letter-spacing: -1px;
  }

  .heading-carousel {
    margin-top: 3.2rem;
    font-size: clamp(2.4rem, 10vw, 8rem);
    letter-spacing: 0px;
  }

  .overhang-square--left {
    top: 25rem;
  }

  .icon-angebot {
    width: 10rem;
    height: 10rem;
  }

  .svg-angebot.loadin {
    opacity: 0;

    transition: opacity 1.3s;
  }

  .svg-angebot.loaded {
    opacity: 1;

    transition-delay: 0.15s;
  }

  .svg-angebot {
    margin-top: 4.8rem;
    margin-left: 3rem;
    justify-self: baseline;
  }

  .svg-angebot--inhalt::after {
    border-top: 0 solid transparent;
    border-left: 8rem solid transparent;
    border-right: 8rem solid transparent;
    border-bottom: 16rem solid var(--background-shade-one);
  }

  .svg-angebot--support::after {
    left: 6.25%;
    width: 120%;
    height: 120%;
    left: 15%;

    transform: rotate(-20deg);
    transform-origin: bottom right;
  }

  @keyframes fallRight {
    0% {
      transform: rotate(-20deg);
    }

    50% {
      transform: rotate(-45deg);
    }

    70% {
      transform: rotate(-43deg);
    }

    85% {
      transform: rotate(-45deg);
    }

    90% {
      transform: rotate(-44.95deg);
    }

    100% {
      transform: rotate(-45deg);
    }
  }

  .container-angebot.grid--2-cols {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 4.8rem;
  }

  .svg-angebot--design {
    grid-row: 1/2;
  }

  .svg-angebot--support {
    grid-row: 3/4;
  }

  .svg-angebot--inhalt {
    grid-row: 5/6;
  }

  .container-text--support {
    grid-column: 1;
  }

  .wrapper-cards {
    margin: 0;
  }

  .container-cards {
    flex-direction: column;
    align-items: center;
    gap: 4.8rem;
  }

  .no-flexbox-gap .cards:not(:last-child) {
    margin-right: 0;
    margin-bottom: 4.8rem;
  }

  .cards {
    width: 70%;
    max-width: 100%;
    height: 26rem;
    padding: 1.6rem 1.6rem 6.4rem 1.6rem;
  }

  .cards.loadin {
    opacity: 0;
    transform: translateX(-45px);
    transition: transform 1.3s ease-out, opacity 1.3s;
  }

  .card-two.loadin {
    opacity: 0;
    transform: translateX(45px);
    transition: transform 1.3s ease-out, opacity 1.3s;
  }

  .cards.loaded {
    opacity: 1;
    transform: translateX(0);
    transition-delay: 0.15s;
  }

  .card-three:hover::after {
    transform: translate(-50%, 50%) rotate(-20deg) rotate(190deg) scale(12);
  }

  .container-contact {
    gap: 5rem;
  }

  .no-flexbox-gap .container-form {
    margin-bottom: 5rem;
  }

  .form-el label,
  .form-el input,
  .form-el textarea {
    font-size: 1.6rem;
  }
}

/********************************************/
/* Smaller Tablets 688px */
/********************************************/

@media (max-width: 43em) {
  .pillar-one {
    border-radius: 0 18px 18px 0;
  }

  .pillar-two {
    border-radius: 18px 0 0 18px;
  }

  .btn {
    font-size: 1.4rem;
  }

  .container-scroll-nav {
    left: 25vw;
    width: 75vw;
  }

  .content-schneider {
    margin-bottom: 8rem;
  }

  .cards {
    width: 80%;
  }

  .container-contact {
    gap: 18rem;
  }

  .no-flexbox-gap .container-form {
    margin-bottom: 8rem;
  }

  .container-adress {
    right: -20vw;
    margin-bottom: -15rem;
  }

  .container-cookies {
    row-gap: 2.4rem;
  }

  .cookies-middle {
    grid-column: 2/4;
  }
  .btn--cookies {
    grid-column: 3/4;
  }
}

/********************************************/
/* Smaller Tablets 528px */
/********************************************/

@media (max-width: 33em) {
  .section-hero {
    padding: 18rem 2.4rem;
  }

  .container-hero--right {
    grid-row: 2/3;
    grid-column: 1/2;
  }

  .btn.btn-hero {
    align-self: last baseline;
    justify-self: last baseline;
  }

  .container-btn-scroll-nav {
    bottom: 2rem;
    top: auto;

    transform: translateX(200%);
  }

  .container-scroll-nav {
    width: 80vw;
    left: 20vw;
  }

  .cards {
    width: 90%;
  }

  .section-contact {
    border-right: 3rem solid var(--background-shade-one);
  }

  .el-footer {
    height: 6rem;
    width: 6rem;
  }

  .el-footer--triangle {
    border-left: 3rem solid transparent;
    border-right: 3rem solid transparent;
    border-bottom: 6rem solid var(--main-text-color-medium);
  }

  .el-footer--square {
    top: 10rem;
    right: 13rem;
  }

  .el-footer--circle {
    right: 3rem;
  }
}

/********************************************/
/* Big Mobile 480px */
/********************************************/

@media (max-width: 30em) {
  .heading-secondary::after {
    font-size: 210%;
  }

  .section-hero {
    height: 100vh;
    padding: 12rem 2.4rem;
  }

  .container-hero--left {
    margin-bottom: -5rem;
  }

  .pillar-one {
    border-radius: 0 12px 12px 0;
  }

  .pillar-two {
    border-radius: 12px 0 0 12px;
  }

  .btn-hero--text {
    display: none;
    pointer-events: none;
    visibility: hidden;
  }

  .btn.btn-hero--icon {
    display: block;
    pointer-events: auto;
    visibility: visible;
    align-self: unset;
    justify-self: unset;

    position: absolute;
    bottom: 2.4rem;
    right: 2.4rem;

    height: auto;
    padding: 1.2rem;
  }

  .icon-hero {
    fill: #fff;
    height: 4.4rem;
    width: 4.4rem;
  }

  .img-box--hero {
    width: clamp(10rem, 55vw, 100rem);
  }

  .overhang-square--left {
    height: 20rem;
  }

  .description-link:link,
  .description-link:visited {
    font-size: 1.6rem;
  }

  .btn-arrow {
    font-size: 3rem !important;
  }

  .cards {
    width: 95%;
    height: min-content;
  }

  .container-adress {
    margin-bottom: -9rem;
    right: 0;
  }
}

/********************************************/
/*  Mobile 416px */
/********************************************/

@media (max-width: 26em) {
  .container-scroll-nav {
    width: 80vw;
    left: 20vw;
  }

  .wrapper-cards .heading-tertiary {
    text-align: left;
  }

  .cards {
    width: 100%;
  }

  .section-contact {
    border-right: 2rem solid var(--background-shade-one);
  }
}

/********************************************/
/*  Small Mobile 384px */
/********************************************/

@media (max-width: 23em) {
  .container-adress {
    padding: 2.4rem;
  }
  .container-adress .adress-el {
    font-size: 1.6rem;
  }
}

/********************************************/
/* RESPONSIVE BACKGROUND IMAGES */
/********************************************/

@media (max-width: 33em) {
  .webp .img-page--y7 {
    background: url(../content/img/portfolio/page-screenshots/y7music/y7music3x.webp);
    background-size: cover;
  }

  .no-webp .img-page--y7 {
    background: url(../content/img/portfolio/page-screenshots/y7music/y7music2x.webp);
    background-size: cover;
  }

  .webp .img-page--marabu {
    background: url(../content/img/portfolio/page-screenshots/marabu/marabu2x.webp);
    background-size: cover;
    background-position: top;
  }
  .no-webp .img-page--marabu {
    background: url(../content/img/portfolio/page-screenshots/marabu/marabu2x.png);
    background-size: cover;
    background-position: top;
  }

  .webp .img-page--omnifood {
    background: url(../content/img/portfolio/page-screenshots/omnifood/omnifood2x.webp);
    background-size: cover;
  }
  .no-webp .webp .img-page--omnifood {
    background: url(../content/img/portfolio/page-screenshots/omnifood/omnifood2x.png);
    background-size: cover;
  }

  .webp .img-page--stepbystep {
    background: url(../content/img/portfolio/page-screenshots/stepbystep/stepbystep2x.webp);
    background-size: cover;
  }
  .no-webp .img-page--stepbystep {
    background: url(../content/img/portfolio/page-screenshots/stepbystep/stepbystep2x.png);
    background-size: cover;
  }
}
