/******************************************/
/* HEADER */
/******************************************/

.header {
  width: 100vw;
  z-index: 10;
}

.container-header {
  margin: 0 auto;
  padding: 2rem 2rem;

  /* position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%; */

  display: flex;
  justify-content: space-between;
}

.logo-header {
  position: relative;
}

.logo {
  /* position: absolute;
  top: 0;
  left: 0; */
}

/* .logo::after {
  content: "";
  position: absolute;
  left: 0;
  top: -0.4rem;
  height: 0.4rem;
  width: 6.3rem;
  background-color: var(--main-accent-color);
} */

.logo:link,
.logo:visited {
  font-family: "Abril Fatface", cursive;
  font-size: 2rem;
  color: var(--main-accent-color);
}

/******************************************/
/* SECTION HERO */
/******************************************/

.section-hero {
  width: 100vw;
  height: 100vh;

  position: relative;

  z-index: 2;

  /* background-image: linear-gradient(to top, #122932, rgba(18, 41, 50, 0.39)),
    url("../content/img/hero/webdesign.jpg");
  background-size: cover;
  background-position: center; */

  /* clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 80vh); */
}

.svg {
  position: absolute;
}

.svg-brackets {
  top: 50%;
  left: 50%;
}

.svg-btn {
  top: 0;
  left: 0;
}

.svg-pants,
.svg-lines {
  top: 0;
  right: -10%;
}

.svg-pants .container-heading {
  display: flex;
  flex-direction: column;
}

.container-hero {
  max-width: 200rem;
  margin: 0 auto;

  padding: 13rem;
}

.btn-hero {
  /* display: inline-block; */
  width: auto;
  padding: 1.6rem 3.2rem;

  color: var(--main-text-color-bright);
  background: var(--main-background-dark);

  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
}

.container-heading {
  margin-top: 12rem;
  margin-bottom: 8rem;
  width: 60vw;

  /* display: flex;
  flex-direction: column;

  align-self: flex-start; */
}

/******************************************/
/* SECTION PORTFOLIO */
/******************************************/

.section-portfolio {
  background-color: var(--main-background-dark);
  color: var(--main-text-color-bright);
}

.section-portfolio .subheading-secondary,
.section-portfolio .heading-secondary,
section- {
  color: var(--main-text-color-bright);
}

.container-portfolio {
  position: relative;
  display: flex;

  align-items: center;
  gap: 3.2rem;

  /* overflow: hidden; */
}

.container-screen {
  position: relative;
  display: flex;
  align-items: center;
}

.btn-arrow {
  background: none;
  transition: opacity 1s, transform 0.45s;
}

.btn-arrow:hover {
  transform: scale(1.1);
}

.btn-inactive {
  opacity: 0.3;

  pointer-events: none;
}

.img-screen {
  position: relative;
  width: 60rem;
}

.container-slide-img {
  position: absolute;
  top: 52px;
  left: 78px;

  width: 44.4rem;
  height: 27.8rem;

  overflow: hidden;
}

.slide-img {
  position: absolute;

  width: inherit;
  height: inherit;
  background-size: cover;
  background-position: top;

  pointer-events: none;
}

.slide-img.active {
  pointer-events: auto;
  transform: translateX(0);

  transition: background-position 12s, transform 1s ease;
}

.slide-img.to-left {
  transform: translateX(-100%);
  transition: transform 1s ease;
}

.slide-img.to-right {
  transform: translateX(100%);
}

.img-page {
  transform: translateY(0);
  transition: transform 5s;
  z-index: -1;
}

.wrapper-img-page:hover .img-page {
  transform: translateY(calc(-100% + 27.8rem));
  transition: transform 15s;
}

.slide-link {
  display: block;
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;

  z-index: 1;
}

.slide-link .icon {
  height: 2.4rem;
  width: 2.4rem;
}

.container-slide-description {
  min-height: 30rem;
}

.slide-description {
  position: absolute;

  opacity: 0;
  pointer-events: none;
  visibility: hidden;

  transition: opacity 1s;
}

.slide-description.active {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}

.description-link {
  position: relative;
  font-size: 1.8rem;
  font-weight: 600;
}

.description-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -0.4rem;

  width: 100%;
  height: 0.4rem;
  background-color: var(--main-accent-color);

  transform: scaleX(0);
  transform-origin: right;
  transition: transform 450ms;
}

.description-link:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

/******************************************/
/* SECTION ANGEBOT */
/******************************************/

.section-angebot {
  background-color: var(--main-background-bright);
  z-index: 999;
}

.textbox-angebot:last-of-type {
  margin-bottom: 8rem;
}

.wrapper-cards {
  width: 80%;
  margin: 0 auto;
}

.container-cards {
  display: flex;
  gap: 2.4rem;
  z-index: 2;
}

.cards {
  position: relative;

  width: calc(100% / 3);
}

.heading-cards {
  font-size: 2.4rem;
  /* text-align: center; */
  text-transform: uppercase;
}

.container-icon {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  margin-top: 1.6rem;
  margin-bottom: 0.8rem;
}

.icon {
  height: 6.4rem;
  width: 6.4rem;
}

.text-cards {
  font-size: 1.6rem;
  width: 100%;
  /* text-align: center; */
}

/******************************************/
/* SECTION SCHNEIDER */
/******************************************/

.section-schneider {
  background-color: var(--main-background-dark);
}

.section-schneider .subheading-secondary,
.section-schneider .heading-secondary {
  color: var(--main-text-color-bright);
}

.content-schneider {
  display: flex;
  align-items: flex-start;
}

.container-img {
  min-width: 30rem;
  background-color: var(--main-accent-color);
}

.img-box-schneider {
  position: relative;
  transform: translate(15%, 20%) scale(1.1);
}

.img-box-schneider::before {
  content: "";
  position: absolute;
  top: 3;
  left: 0;

  height: 100%;
  width: 100%;

  background-image: linear-gradient(
    to right,
    rgba(18, 41, 50, 0.1),
    rgba(18, 41, 50, 0.3),
    rgba(18, 41, 50, 1)
  );
}

.img-schneider {
  width: 100%;
}

.section-schneider .textbox {
  color: var(--main-text-color-bright);
  z-index: 1;

  transform: translate(-10%, 20%);
}

/******************************************/
/* SECTION KONTAKT */
/******************************************/

.section-kontakt {
  background-color: #122932;
  width: 100vw;
  position: absolute;
  z-index: 9;
}
