/******************************************/
/* HEADER */
/******************************************/

.header {
  width: 100vw;

  background-color: white;

  z-index: 10;
}

.container-header {
  max-width: 200rem;

  margin: 0 auto;
  padding: 4rem 6rem;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;

  display: flex;
  justify-content: space-between;
}

.logo:link,
.logo:visited {
  font-family: "Abril Fatface", cursive;
  font-size: 2.4rem;
  color: #e3c0d3;
}

.container-social {
  display: flex;
  gap: 1.2rem;
}

/******************************************/
/* SECTION RIGHT */
/******************************************/

.section-right {
  height: 100vh;
  width: 50vw;

  padding: 9rem 15rem;

  background-color: #fff;

  z-index: 2;

  float: right;
}

/* Headings */

.heading-primary {
  font-family: "Abril Fatface", cursive;
  font-size: 9.6rem;
  font-weight: 400;
  color: #122932;
  line-height: 1;

  margin-bottom: 4.8rem;
}

.subheading-primary {
  text-align: right;
  font-family: "Montserrat", sans-serif;
  font-size: 4rem;
  font-weight: 200;

  color: #122932;

  margin-bottom: 6.8rem;
}

.subheading-primary--last-word {
  font-weight: 400;
  font-style: italic;
}

/* Navigation */

.main-nav {
  margin: auto 0;
}

.nav-list {
  display: flex;
  flex-direction: column;
}

.nav-el {
  font-family: "Montserrat", sans-serif;
  font-size: 3.6rem;
}

.nav-el a:link,
.nav-el a:visited {
  display: inline-block;
  /* transform: translateX(0); */

  transition: all 450ms;
}

.nav-el a:hover,
.nav-el a:active,
.nav-el a:focus,
.nav-el .nav-current {
  transform: translateX(2rem);
}

/******************************************/
/* SECTION HERO */
/******************************************/

.section-hero {
  background-color: #122932;
  z-index: 2;
}

/******************************************/
/* SECTION ANGEBOT */
/******************************************/

.section-angebot {
  background-color: #95818d;
}

/******************************************/
/* SECTION PORTFOLIO */
/******************************************/

.section-portfolio {
  background-color: #e1e1e1;
}

/******************************************/
/* SECTION SCHNEIDER */
/******************************************/

.section-schneider {
  background-color: #e3c0d3;
}

/******************************************/
/* SECTION KONTAKT */
/******************************************/

.section-kontakt {
  background-color: #122932;
  width: 100vw;
}
